<div class="banner-4 d-flex">
  <div class="small-banner d-flex align-items-center justify-content-center">
    <div>
      <h1>Les <span>films</span> <br> préférés d'Alice</h1>
    <div>
      <h2><em>Classés par liste et coups de coeur</em> </h2>
    </div>
    </div>
  </div>
  <div class="small-banner d-flex align-items-center justify-content-center">
    <div>
      <%= image_tag "cinema.jpg", alt: "cinema", height: 500, class:"img-rounded"%>
    </div>
  </div>
</div>


<div class="container d-flex flex-wrap justify-content-center">

<% @lists.each do |list| %>
  <%= link_to list_path(list) do %>
    <div class="card m-4" style="width: 20rem;">
    <% if list.picture.attached? %>
      <%= cl_image_tag list.picture.key, class: "card-img-top" %>
    <% end %>
      <div class="card-body">
        <div class="mb-3">
          <h5 class="card-title"><%=list.name%></h5>
        </div>
        <div>
          <%= link_to "Supprimer", list_path(list), class: "my-button", data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"} %>  </div>
        </div>
    </div>
    <% end %>
<% end %>

</div>
