  <div class="banner-2" >
    <div class="container">
      <div class="mh-100" style="height: 80px">
        <h1><%= @list.name %></h1>
      </div>
      <div>
        <%= link_to "Ajouter un film", new_list_bookmark_path(@list), class: "my-secondary-button" %>
        <span class="badge rounded-pill text-dark"> <%= @list.bookmarks.length %> films</span>
      </div>
    </div>
  </div>

<div class="d-flex">
  <% @list.bookmarks.each do |bookmark| %>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src= <%= bookmark.movie.poster_url %>  alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> <strong><%= bookmark.movie.title %></strong> - <%= bookmark.movie.rating.round(1) %> <i class="fa-solid fa-star"></i> </h5>
                <p class="card-text grey"> <em><%= bookmark.movie.overview %></em> </p>
                <p class="card-text"><i class="fa-solid fa-quote-left"></i>  <%= bookmark.comment %></p>
                <%= link_to "Supprimer", bookmark_path(bookmark), class: "my-button", data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"} %>
              </div>
          </div>
      <% end %>
</div>
</div>
